body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

.container_cima {
    background-color: #ff8629;
    padding: 6px;
    border-bottom: 4px solid;
}

.container_one {
    width: 100%;
    height: 50vh;
    margin-top: 0px;
}

.container_one h1 {
    text-align: center;
    display: flex;
    justify-content: center;
}


.acesso_ajuda {
    justify-content: center;
    display: flex;
    gap: 40px;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    border: 5px solid #623717;
    border-radius: 15px;
    padding : 10px;
    margin-top: 50px;
    width: 30%;
    height: 35vh;
    box-sizing: border-box;
    background-color: #ff8629;
    box-shadow: 0 8px 20px;
}

.contato h3 {
    margin: 0;
    font-family: 'Georgia';
}

.contato p {
    text-align: center;
    font-size: 40px;
    margin-top: 120px;
    font-family: 'Times New Roman';
}


.home-button {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 3%;
  transform: translateY(-50%);
}

.home-button:hover {
  color: #ccc;
}

.header {
  padding: 15px;
  font-weight: bold;
  border-bottom: 1px solid #000000;
  background-color: hsl(26, 100%, 58%);
  font-size: 16px;
}